body 
{
    background-color: rgb(78, 78, 78);
}

p
{
    color: rgb(255, 255, 255);
}

.game
{
    border: 5px ridge rgb(129, 129, 129);
    background-color: rgb(88, 52, 52);
    text-align: center;
}

.gameViewerSWF
{
    border: 5px ridge rgb(129, 129, 129);
    background-color: rgb(88, 52, 52);
}